{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <header id="home-header">
        <div id="header-img"></div>
        <h1>web designer</h1>
        <h2>L'innovation sur mesure !</h2>
    </header>




{% endblock %}
